* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 30px;
    background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main  {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    grid-template-rows: 100px 100px 300px;
    justify-self: center;
   
}

h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 60px;
    color: #FF82A9;
}

h2 {
    color: #FF82A9;
    font-family: "Spicy Rice", serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
}



.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    width: 400px; /* 410 for both */
    height: 400px;
    left: 347px;
    background-color: black;
    border-radius: 25%;
    position: relative;
}

.pad {
    width: 200px;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    border: 10px solid black;
    &:hover {
        cursor: pointer;
    }
}

#level, #highscore {
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #f9c189;
    margin-left: 20px;
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    align-self: start;
    align-items: center;
    
}

@keyframes blink {
    0%, 100% {
        background-color: red;
        color: white;
    }

    50% {
        background-color: white;
        color: red;
    }
}

#play-btn {
    background-color: white;
    font-family: 'Tiny5', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 40px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, -90px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 20px solid black;
}

#reset {
    font-family: 'Spicy Rice', serif;
    background-color: #FF82A9;
    color:  #FFEBE7;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #f9c189;
    margin-top: 50px;
    width: 100px;
    height: 50px;
}

#reset:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

#top-left {
    border-radius: 100% 0 0 0;
    background-color: #F45B69;
    opacity: 0.7;
    cursor: pointer;
    /* border: 1px solid black; 
    EA9AB2
    */
}

#top-right {
    border-radius: 0 100% 0 0;
    background-color: #347FC4;
    opacity: 0.7;
    cursor: pointer;
    /* B3DEE2 */
}

#btm-left {
    border-radius: 0 0 0 100%;
    background-color: #8CB369;
    opacity: 0.7;
    cursor: pointer;
    /* F4D35E */
}

#btm-right{
    border-radius: 0 0 100% 0;
    background-color: #FFBF81;
    opacity: 0.7;
    cursor: pointer;
    /* opacity: 0.7; */
    /* EAF2D7 */
}