* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 30px;
    background-image: url('https://i.pinimg.com/474x/62/af/7f/62af7f20d86e85560eee15c96a5f7957.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main  {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    grid-template-rows: 100px 100px 300px;
    justify-self: center;
   
}

h1 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 60px;
    color: #f9c189;
}

h2 {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-size: 30px;
}



.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    width: 400px; /* 410 for both */
    height: 400px;
    top: 99px;
    right: 50px;
    background-color: black;
    border-radius: 25%;
    position: relative;
}

.pad {
    width: 200px;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    border: 10px solid black;
    &:hover {
        cursor: pointer;
    }
}

#level {
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #f9c189;
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    align-self: start;
    align-items: center;
    
}

#play-btn {
    background-color: white;
    font-family: 'Tiny5', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 40px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90px, -90px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 20px solid black;
}

#reset {
    font-family: 'Spicy Rice', serif;
    background-image: url('https://i.pinimg.com/474x/62/af/7f/62af7f20d86e85560eee15c96a5f7957.jpg');
    background-size: auto;
    border-radius: 50%;
    font-size: 25px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
}


#top-left {
    border-radius: 100% 0 0 0;
    background-color: #F45B69;
    opacity: 0.7;
    cursor: pointer;
    /* border: 1px solid black; 
    EA9AB2
    */
}

#top-right {
    border-radius: 0 100% 0 0;
    background-color: #347FC4;
    opacity: 0.7;
    cursor: pointer;
    /* B3DEE2 */
}

#btm-left {
    border-radius: 0 0 0 100%;
    background-color: #8CB369;
    opacity: 0.7;
    cursor: pointer;
    /* F4D35E */
}

#btm-right{
    border-radius: 0 0 100% 0;
    background-color: #FFBF81;
    opacity: 0.7;
    cursor: pointer;
    /* opacity: 0.7; */
    /* EAF2D7 */
}